body {
    text-align: center;
    background-color: #454840;
    align-content: center;
    color: white;
}
h1 {
    font-size: 48px;
}
h3 {
    font-size: 24px;
    margin-top: 30px;
}
p {
    color: red;
}
table {
    font-size: 24px;
}
th {
    font-weight: normal;
}
a {
    color: dodgerblue;
    font-size: large;
}

.Type {
    height: 200px;
    max-width: 160px;
}

.Manufacturer {
    max-height: 200px;
    max-width: 200px;
    margin: 5px;
    vertical-align: middle;
}

.Products {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px
}

.InStock {
    margin-bottom: 30px;    
}    

.AllStock {    
    margin-bottom: 50px;
}   

.InStockTable {
    text-align: left;
}

.AllStockTable {
    text-align: left;
}    
.Subscribe {
    text-align: center;
}

.subscribeButton, .productButton {
    background-color: #454840;
    color: white;
    font-size: 24px;
}

