body {
    text-align: center;
    background-color: #454840;
    align-content: center;
    color: white;
}
h1 {
    font-size: 48px;
}
h3 {
    font-size: 24px;
}
p {
    color: red;
}
table {
    font-size: 24px;
}
a {
    color: dodgerblue;
}

.Type {
    height: 200px;
    max-width: 160px;
}

.Manufacturer {
    max-height: 200px;
    max-width: 200px;
    margin: 5px;
    vertical-align: middle;
}